<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-md-3">
        <form role="form" action="/register" method="post" style="max-width: 400px;" class="form-signin">
          <h2 class="form-signin-heading">Sign Up here</h2>
          <input type="text" name="firstname" placeholder="Firstname" class="form-control" />
          <input type="text" name="lastname" placeholder="Lastname" class="form-control" />
          <input type="text" name="username" placeholder="Your Email" class="form-control" />
          <input type="password" name="password" placeholder="Your Password" class="form-control" />
          <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
        </form>

    </div>
  </div>
</div>